{# index.twig #}
{% extends "../layout.twig" %}
 
{% block sclass %}gradient{% endblock %}

{% block page %}
    <div class="center-container gradient">
        stream starting soon
    </div>
{% endblock %}