{# index.twig #}
{% extends "../layout.twig" %}
 
{% block page %}
    <div class="center-container">
        stream starting soon
    </div>
    {% for n in 1..20 %}
        {% set tpl = random([
         '../kb.svg',
         '../leek.svg',
         '../mouse.svg'
        ]) %}
        {% include tpl with {n:n} %}
    {% endfor %}

{% endblock %}