{# layout.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>{% include 'stream.css' %}</style>
    <title>Stream Tools</title>
</head>
<body>
<section class="{% block sclass %}{% endblock %}">
    {% block page %}{% endblock %}
</section>
<script>{% include 'stream.js' %}</script>
</body>
</html>