/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
@font-face {
  font-family: 'Fugaz One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fugaz One'), local('FugazOne-Regular'), url(https://fonts.gstatic.com/s/fugazone/v9/rax_HiWKp9EAITukFslMBA.ttf) format('truetype');
}
section {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b001c;
  background: linear-gradient(36deg, #0b001c 0%, #0f0008 100%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Fugaz One', sans-serif;
}
section .center-container {
  width: 30%;
  font-size: 8rem;
  padding: 20%;
  color: #e8003f;
  text-shadow: 5px 0px #F7FF19;
  text-transform: uppercase;
}
section .center-container span {
  position: relative;
}
section .center-container span.z-even {
  z-index: 1;
}
section .center-container span.z-odd {
  z-index: 3;
}
section.gradient {
  background: linear-gradient(235deg, #F06449, #E8003F);
  background-size: 150% 150%;
  -webkit-animation: gradient 12s ease infinite;
  -moz-animation: gradient 12s ease infinite;
  animation: gradient 12s ease infinite;
}
section.gradient .center-container {
  color: #0010EA;
  text-shadow: 5px 0px #00f7ff;
}
section svg {
  z-index: 2;
  transform: translateZ(0);
  width: 100px;
  position: absolute;
}
section svg.drift1 {
  animation: drift1 5s infinite linear;
}
section svg.drift2 {
  animation: drift2 8s infinite linear;
}
section svg.drift3 {
  animation: drift3 12s infinite linear;
}
section svg.drift4 {
  animation: drift4 4s infinite linear;
}
section svg.drift5 {
  animation: drift5 10s infinite linear;
}
section svg.drift6 {
  animation: drift6 7s infinite linear;
}
section svg.drift7 {
  animation: drift7 18s infinite linear;
}
section svg.drift8 {
  animation: drift8 4s infinite linear;
}
section svg.drift9 {
  animation: drift9 20s infinite linear;
}
section svg.drift10 {
  animation: drift10 8s infinite linear;
}
section svg.drift11 {
  animation: drift11 4s infinite linear;
}
section svg.drift12 {
  animation: drift12 9s infinite linear;
}
section svg.drift13 {
  animation: drift13 4s infinite linear;
}
section svg.drift14 {
  animation: drift14 16s infinite linear;
}
section svg.drift15 {
  animation: drift15 17s infinite linear;
}
section svg.drift16 {
  animation: drift16 10s infinite linear;
}
section svg.drift17 {
  animation: drift17 19s infinite linear;
}
section svg.drift18 {
  animation: drift18 7s infinite linear;
}
section svg.drift19 {
  animation: drift19 17s infinite linear;
}
section svg.drift20 {
  animation: drift20 5s infinite linear;
}
section svg.kb {
  transform: rotate(10deg);
  fill: #00f7ff;
  stroke: #00f7ff;
}
section svg.mouse {
  fill: #F06449;
  stroke: #F06449;
  width: 30px;
  height: 30px;
}
section svg.leek {
  fill: #4DFA92;
  stroke: #4DFA92;
}
@keyframes drift1 {
  from {
    left: -100px;
    bottom: calc(10% - 100px);
  }
  to {
    left: calc(10% + 100px);
    bottom: -100px;
  }
}
@keyframes drift2 {
  from {
    left: -100px;
    bottom: calc(20% - 100px);
  }
  to {
    left: calc(20% + 100px);
    bottom: -100px;
  }
}
@keyframes drift3 {
  from {
    left: -100px;
    bottom: calc(30% - 100px);
  }
  to {
    left: calc(30% + 100px);
    bottom: -100px;
  }
}
@keyframes drift4 {
  from {
    left: -100px;
    bottom: calc(40% - 100px);
  }
  to {
    left: calc(40% + 100px);
    bottom: -100px;
  }
}
@keyframes drift5 {
  from {
    left: -100px;
    bottom: calc(50% - 100px);
  }
  to {
    left: calc(50% + 100px);
    bottom: -100px;
  }
}
@keyframes drift6 {
  from {
    left: -100px;
    bottom: calc(60% - 100px);
  }
  to {
    left: calc(60% + 100px);
    bottom: -100px;
  }
}
@keyframes drift7 {
  from {
    left: -100px;
    bottom: calc(70% - 100px);
  }
  to {
    left: calc(70% + 100px);
    bottom: -100px;
  }
}
@keyframes drift8 {
  from {
    left: -100px;
    bottom: calc(80% - 100px);
  }
  to {
    left: calc(80% + 100px);
    bottom: -100px;
  }
}
@keyframes drift9 {
  from {
    left: -100px;
    bottom: calc(90% - 100px);
  }
  to {
    left: calc(90% + 100px);
    bottom: -100px;
  }
}
@keyframes drift10 {
  from {
    left: -100px;
    bottom: calc(100% - 100px);
  }
  to {
    left: calc(100% + 100px);
    bottom: -100px;
  }
}
@keyframes drift11 {
  from {
    left: -100px;
    bottom: calc(110% - 100px);
  }
  to {
    left: calc(110% + 100px);
    bottom: -100px;
  }
}
@keyframes drift12 {
  from {
    left: -100px;
    bottom: calc(120% - 100px);
  }
  to {
    left: calc(120% + 100px);
    bottom: -100px;
  }
}
@keyframes drift13 {
  from {
    left: -100px;
    bottom: calc(130% - 100px);
  }
  to {
    left: calc(130% + 100px);
    bottom: -100px;
  }
}
@keyframes drift14 {
  from {
    left: -100px;
    bottom: calc(140% - 100px);
  }
  to {
    left: calc(140% + 100px);
    bottom: -100px;
  }
}
@keyframes drift15 {
  from {
    left: -100px;
    bottom: calc(150% - 100px);
  }
  to {
    left: calc(150% + 100px);
    bottom: -100px;
  }
}
@keyframes drift16 {
  from {
    left: -100px;
    bottom: calc(160% - 100px);
  }
  to {
    left: calc(160% + 100px);
    bottom: -100px;
  }
}
@keyframes drift17 {
  from {
    left: -100px;
    bottom: calc(170% - 100px);
  }
  to {
    left: calc(170% + 100px);
    bottom: -100px;
  }
}
@keyframes drift18 {
  from {
    left: -100px;
    bottom: calc(180% - 100px);
  }
  to {
    left: calc(180% + 100px);
    bottom: -100px;
  }
}
@keyframes drift19 {
  from {
    left: -100px;
    bottom: calc(190% - 100px);
  }
  to {
    left: calc(190% + 100px);
    bottom: -100px;
  }
}
@keyframes drift20 {
  from {
    left: -100px;
    bottom: calc(200% - 100px);
  }
  to {
    left: calc(200% + 100px);
    bottom: -100px;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  12% {
    background-position: 25% 75%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 75% 25%;
  }
  75% {
    background-position: 50% 50%;
  }
  87% {
    background-position: 25% 75%;
  }
  100% {
    background-position: 0% 50%;
  }
}
