@import "../../node_modules/normalize.less/normalize.less";
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

section {
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(11,0,28);
    background: linear-gradient(36deg, rgba(11,0,28,1) 0%, rgba(15,0,8,1) 100%);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Fugaz One', sans-serif;

    .center-container {
        width:30%;
        font-size:8rem;
        padding:20%;
        color:#e8003f;
        text-shadow: 5px 0px #F7FF19;
        text-transform: uppercase;
        span {
            position: relative;
        }
        span.z-even {
            z-index:1;
        }
        span.z-odd {
            z-index:3;
        }
    }

    &.gradient {
        background: linear-gradient(235deg, #F06449, #E8003F);
        background-size: 150% 150%;

        -webkit-animation: gradient 12s ease infinite;
        -moz-animation: gradient 12s ease infinite;
        animation: gradient 12s ease infinite;

        .center-container {
            color:#0010EA;
            text-shadow: 5px 0px #00f7ff;
        }
    }

    svg {
        z-index:2;
        transform: translateZ(0); // magic property for GPU
        width:100px;
        position: absolute;

        &.drift1 {
            animation: drift1 5s infinite linear;
        } 

        &.drift2 {
            animation: drift2 8s infinite linear;
        }

        &.drift3 {
            animation: drift3 12s infinite linear;
        }

        &.drift4 {
            animation: drift4 4s infinite linear;
        }

        &.drift5 {
            animation: drift5 10s infinite linear;
        }

        &.drift6 {
            animation: drift6 7s infinite linear;
        }

        &.drift7 {
            animation: drift7 18s infinite linear;
        }

        &.drift8 {
            animation: drift8 4s infinite linear;
        }
        
        &.drift9 {
            animation: drift9 20s infinite linear;
        }

        &.drift10 {
            animation: drift10 8s infinite linear;
        }

        &.drift11 {
            animation: drift11 4s infinite linear;
        }

        &.drift12 {
            animation: drift12 9s infinite linear;
        }

        &.drift13 {
            animation: drift13 4s infinite linear;
        }

        &.drift14 {
            animation: drift14 16s infinite linear;
        }

        &.drift15 {
            animation: drift15 17s infinite linear;
        }

        &.drift16 {
            animation: drift16 10s infinite linear;
        }

        &.drift17 {
            animation: drift17 19s infinite linear;
        }

        &.drift18 {
            animation: drift18 7s infinite linear;
        }

        &.drift19 {
            animation: drift19 17s infinite linear;
        }

        &.drift20 {
            animation: drift20 5s infinite linear;
        }
    }

    svg.kb { 
        transform: rotate(10deg);   
        fill: #00f7ff;
        stroke: #00f7ff;
    }

    svg.mouse { 
        fill:#F06449;
        stroke:#F06449;
        width:30px;
        height:30px;   
    }

    svg.leek {
        fill:#4DFA92;
        stroke:#4DFA92;
    }
}

.rain-mixin(@offset) {
    from {
        left:-100px; // constant
        bottom:calc(@offset - 100px);
    }
    to {
        left:calc(@offset + 100px);
        bottom: -100px; // constant
    }
}

@keyframes drift1 {
    .rain-mixin(10%);
}

@keyframes drift2 {
    .rain-mixin(20%);
}

@keyframes drift3 {
    .rain-mixin(30%);
}

@keyframes drift4 {
    .rain-mixin(40%);
}

@keyframes drift5 {
    .rain-mixin(50%);
}

@keyframes drift6 {
    .rain-mixin(60%);
}

@keyframes drift7 {
    .rain-mixin(70%);
}

@keyframes drift8 {
    .rain-mixin(80%);
}

@keyframes drift9 {
    .rain-mixin(90%);
}

@keyframes drift10 {
    .rain-mixin(100%);
}

@keyframes drift11 {
    .rain-mixin(110%);
}

@keyframes drift12 {
    .rain-mixin(120%);
}

@keyframes drift13 {
    .rain-mixin(130%);
}

@keyframes drift14 {
    .rain-mixin(140%);
}

@keyframes drift15 {
    .rain-mixin(150%);
}

@keyframes drift16 {
    .rain-mixin(160%);
}

@keyframes drift17 {
    .rain-mixin(170%);
}

@keyframes drift18 {
    .rain-mixin(180%);
}

@keyframes drift19 {
    .rain-mixin(190%);
}

@keyframes drift20 {
    .rain-mixin(200%);
}

@keyframes gradient {
    0%{background-position:0% 50%}
    12%{background-position:25% 75%}
    25%{background-position:50% 50%}
    50%{background-position:75% 25%}
    75%{background-position:50% 50%}
    87%{background-position:25% 75%}
    100%{background-position:0% 50%}
}